* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    height: 100vh;
    width: 100%;
    background-color: #586f7e;
    background-image: linear-gradient(162deg, #586f7e 28%, #2d3076 73%);
    

}


.lista {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    color: black;
    align-items: center;
}

.lista a{
    color: black;
    text-decoration: none;
    font-family: monospace;
    font-size: x-large;
    font-weight: bold;
}

.main{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-around;
    font-family: monospace;
    font-size: xx-large;
    font-weight: bold;
}

.footer{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-items: center;
    justify-content: center;
}

p {
    font-size: 10px;
    font-family: sans-serif;
    color: black;
    font-weight: bolder;
}

.mainUsuario{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-around;
    font-family: sans-serif;
    font-size: xx-large;
    font-weight: bold;
}
.rectangle {
    height: 70vh;
    width: 75%;
    opacity: 0.5;
    background-color: #d9d9d9;
    border-radius: 25px 25px 25px 25px;
}

.titleForm{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    flex-wrap: wrap;
    flex-direction: column;
    height: 70vh;
    align-items: center;
}

.titleForm a{
    color: black;
    text-decoration: none;

}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuadrado {
    height: 70vh;
    width: 75%;
    border-radius: 25px 25px 25px 25px;
    background-color: #2d3076;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.boton {
	box-shadow: 0px 0px 19px -1px #1e9ab3;
	background-color:#0a0a0a;
	border-radius:39px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:sans-serif;
	font-size:20px;
	padding:6px 71px;
	text-decoration:none;
}
.boton:hover {
	background-color:#797a78;
}

.boton a{
    color: rgba(221, 221, 221, 0.664);
    text-decoration: none;
}

.body{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "main main main main"
    "footer footer footer footer";

}

.header {
    display: grid;
    grid-area: header;
}

.main {
    display: grid;
    grid-area: main;
}

.footer {
    display: grid;
    grid-area: footer;
}

@media (max-width: 768px) {
    .body{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "header header"
        "main main"
        "main main"
        "footer footer";
        background-color: none;
    }
        .header{
            background-color: #d9d9d9;
            grid-area: "header";
    }
        .main{
            background-color: #797a78;
            grid-area: "main";
            display: flex;
            align-items: center;
    }
        .mainUsuario{
            grid-area: "main";
            background-color: #797a78;
        }
        .cuadrado{
            background-color: #d9d9d9;
    }
        .rectangle{
            background-color: black;
            color: #d9d9d9;
            opacity: none;
            display: flex;
            align-items: center;
    }
        .titleForm a{
            color: blue;
        }
        .footer{
            background-color: #d9d9d9;
            grid-area: "footer";
    }
    
}

@media (max-width:576px){
    .body{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "header"
        "main"
        "footer";
        background-color: none;
    }
    .header {
        grid-area: "header";
        background-color: #d9d9d9;
    }
    .main{
        grid-area: "main";
        background-color: #797a78;
    }
    .mainUsuario{
        grid-area: "main";
        background-color: #797a78;
    }
    .cuadrado{
        background-color: #d9d9d9;
    }
    .rectangle{
        background-color: black;
        color: #d9d9d9;
        opacity: none;
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
    }
    .titleForm a{
        color: blue;
    }
    .footer{
        grid-area: "footer";
        background-color: #d9d9d9;
    }
}
