*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    height: 70px;
    text-align: center;
    background-color: #d9d9d9;
}
.lista {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

li {
    text-decoration: none;
    list-style: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    font-size: x-large;
}

.navBar {
    display: flex;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    justify-content: center;
    flex-direction: column;
    padding: 25px 10px 25px;
}




.menu {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: bolder
}


.main {
    height: 100vh;
    display: flex;
    background-color: black;
    width: 100%;

}

.divisor {
    display: flex;
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;

}

.divisor h1 {
    align-items: center;
    text-align: center;
    color: #d9d9d9;
}

.divisor h2 {
    align-items: center;
    text-align: center;
    padding-top: 70px;
    color: #d9d9d9;
}

.divisor h3 {
    align-items: center;
    text-align: center;
    padding-top: 70px;
    color: #d9d9d9;
}

.footer{
    display: flex;
    height: 110px;
    background-color: #d9d9d9;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer p{
    display: flex;
    position: start;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    justify-content: space-between;
}


.mainCategorias {
    height: 550px;
    display: flex;
    background-color: black;
    width: 100%;
    align-content: space-around;
    justify-content: center;
}

.divisorMil{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.acheUno{
    color: #d9d9d9;
    size: 50px;
    padding-right: 50px;
}

.acheDos{
    color: #d9d9d9;
    size: 70px;
    padding-right: 50px;
}

.acheTres{
    color: #d9d9d9;
    size: 100px;
    padding-right: 50px;
}


.cuadrado{
    width: 712px;
    height: 340px;
    left: 364px;
    top: 328px;
    background: #D9D9D9;
    opacity: 0.75;
    border-radius: 75px;
}

.mainNosotros{
    height: 550px;
    display: flex;
    background-color: black;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.tituloCuadrado{
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 15px;
}

.parraCuadrado{
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-weight: lighter;
    padding-top: 60px; 
}

.usuario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    padding-top: 100px;
}

.rectangulo{
    width: 712px;
    height: 340px;
    left: 364px;
    top: 328px;
    background: #D9D9D9;
    opacity: 0.9;
    text-align: center;
    padding-top: 150px;
    font-family: sans-serif;
    font-weight: bold;
}

